@import url('https://fonts.googleapis.com/css2?family=Poly:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');



body {
    box-sizing: border-box;
}
.content {
    width: inherit;
    /* max-width: 1200px;
    width: 100%; */
}

.container {
    background-image: url(./assets/images/sofa-living-room-decorated-with-brazilian-folklore-design\ 1.png);
    background-size: 600px 600px;
    height: 600px;
    width: inherit;
}

.desktop-navs {
    display: none;
}

.mobile {
    display: block;
}

.logo {
    width: 100px;
    margin-top: 10px;
}

li {
    list-style-type: none;
    font-size: 24px;
    color: #fff;
    font-family: poly, sans-serif;
}

.menu-toggle {
    display: none;
}

.hamburger {
    font-size: 30px;
    color: #FFE8D3;
}

.overlay-menu {
    position: fixed;
    top: 0;
    left: 0;
    background: #FFE8D3;
    height: 300px;
    width: 100%;
    display: none;
    z-index: 10;
}

.mobile-navs {
    text-align: center;
}

.mobile-navs li {
    padding-block: 5px;
}


.menu-toggle:checked ~ .overlay-menu {
    display: flex;
    align-items: center;
    justify-content: center;
}

.close-btn {
    position: absolute;
    top: 20px;
    right: 30px;
    color: white;
    font-size: 40px
}

.header {
    width: inherit;
    display: flex;
    align-items: center;
    /* gap: 10rem;  */
    justify-content: space-around;
  
}

.introduction {
    width: 250px;
    margin: 0 auto;
    margin-top: 100px;
}

.introduction h1 {
    font-family: lora;
}

.introduction p {
    font-family: inter;
}

.introduction h1 {
    font-weight: 400;
    font-size: 30px;
    color: #FFE8D3;
    text-align: center;
}

.description {
    margin: 0 auto;
    text-align: center;
}

.description p {
    color: #fff;
}

input {
    width: 250px;
    height: 40px;
    border: 1px solid #fff;
    border-radius: 5px;
    margin-top: 10px;
}

.call-logo {
    width: 20px;
    height: 20px;
}

button {
    margin-top: 18px;
    padding-inline: 10px;
    padding-block: 10px;
    height: 45px;
    color: #fff;
    font-size: 18px;
    font-family: poppins, sans-serif;
    border: 1px solid #8E623A;
    background-color: #8E623A;
    border-radius: 13px;
    display: flex;
    gap: 10px;
}

@media (min-width: 768px) {
    .content {
    width: 1250px;
}
    .container {
        background-size: 1250px 1000px;
        width: inherit;
        height: 1000px;
    /* width: inherit;
    height: 900px; */
}

.logo {
    width: 120px;
}

.header {
    display: flex;
    align-items: center;
    gap: 10rem;
    /* justify-content: spac; */
}

/* .logo {
    width: 140px;
} */

.desktop-navs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    margin-right: 50px;
}

.mobile-navs {
    display: none;
}

.introduction {
    width: 900px;
    margin: 0 auto;
}

.introduction h1 {
    font-size: 85px;
    font-weight: 400;
    color: #FFE8D3;
    text-align: center;
}

.description {
    margin: 0 auto;
    width: 700px;
    text-align: center;
}

.description p {
    font-size: 24px;
    color: #fff;
}

input {
    width: 600px;
    height: 40px;
    border: 1px solid #fff;
    border-radius: 5px;
    margin-top: 10px;
}
.mobile {
    display: none;
}

button {
    color: #fff;
    font-size: 20px;
    padding-inline: 13px;
    padding-block: 12px;
    border: 1px solid #8E623A;
    background-color: #8E623A;
    border-radius: 12px;
    display: flex;
    gap: 10px;
}
}


/* @media (max-width: 1024px) {
    .content {
        width: 600px;
    }
} */